:root {
  color-scheme: light dark;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#app {
  height: 100vh;
  min-height: 0;
  overflow: hidden;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

code {
  font-family: ui-monospace, Consolas, monospace;
}
